h1 {text-align: center;}
.Fotodiri img{float: right; 
    height: 200px; width: 150px;
    margin-right: 300px;}

.Bio p {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin-left: 300px;
}
b {
    font-weight: bold;
    width: 5em; /* Adjust the width as needed for consistent spacing */
    margin-right: 1em; /* Adjust the margin for spacing between the label and colon */
}
.qr img{
    border: 1px solid;
    float: left; 
    height: 90px;
    margin-left: 420px;
    margin-top: -80px
    }
table {margin-left: 300px;}

.penutup {float: right; 
    text-align: right; 
    margin-right: 300px;
    margin-top: -40px}
.tandatangan img {
    float: right;
    height: 100px;
    width: 350px;
    margin-top: 70px; /* Adjust this value to push the image down */
    margin-right: -350px
}

